In [12]:
import pandas as pd
df = pd.read_csv('Transformed_Housing_Data_1')

In [13]:
df.head()

,ID,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront_View,No of Times Visited,Condition_of_the_House,...,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft),Ever_Renovate,Year Since Renovation
0,7129300520,221900.0,3,1.00,1180.0,5650.0,1.0,No,0,Fair,...,1180.0,0,63,98178.0,47.5112,-122.257,1340.0,5650,NO,0
1,6414100192,538000.0,3,2.25,2570.0,7242.0,2.0,No,0,Fair,...,2170.0,400,67,98125.0,47.7210,-122.319,1690.0,7639,Yes,26
2,5631500400,180000.0,2,1.00,770.0,10000.0,1.0,No,0,Fair,...,770.0,0,85,98028.0,47.7379,-122.233,2720.0,8062,NO,0
3,2487200875,604000.0,4,3.00,1960.0,5000.0,1.0,No,0,Excellent,...,1050.0,910,53,98136.0,47.5208,-122.393,1360.0,5000,NO,0
4,1954400510,510000.0,3,2.00,1680.0,8080.0,1.0,No,0,Fair,...,1680.0,0,31,98074.0,47.6168,-122.045,1800.0,7503,NO,0

In [15]:
df = pd.get_dummies(df, columns=['Condition_of_the_House'], drop_first= True)

In [16]:
df = pd.get_dummies(df, columns=['Ever_Renovate', 'Waterfront_View'], drop_first= True)

BINNIG of zipcode by using mean

In [17]:
df['Zipcode'].unique()

array([98178., 98125., 98028., 98136., 98074., 98053., 98003., 98198.,
       98146., 98038., 98007., 98115., 98107., 98126., 98019., 98103.,
       98002., 98133., 98040., 98092., 98030., 98119., 98112., 98052.,
       98027., 98117., 98058., 98001., 98056., 98166., 98023., 98070.,
       98148., 98105., 98042., 98008., 98059., 98122., 98144., 98004.,
       98005., 98034., 98075., 98116., 98010., 98118., 98199., 98032.,
       98045., 98102., 98077., 98108., 98168., 98177., 98065., 98029.,
       98006., 98109., 98022., 98033., 98155., 98024., 98011., 98031.,
       98106., 98072., 98188., 98014., 98055., 98039.])

In [22]:
zip_table = df.groupby('Zipcode').agg({'Sale_Price': 'mean'}).sort_values('Sale_Price', ascending = True)

In [23]:
zip_table['zipcode_group']=pd.cut(zip_table['Sale_Price'], bins=10,labels=['zipcode_group_0',
                                                                           'zipcode_group_1',
                                                                           'zipcode_group_2',
                                                                           'zipcode_group_3',
                                                                           'zipcode_group_4',
                                                                           'zipcode_group_5',
                                                                           'zipcode_group_6',
                                                                           'zipcode_group_7',
                                                                           'zipcode_group_8',
                                                                           'zipcode_group_9'], include_lowest= True)

In [25]:
zip_table = zip_table.drop(columns="Sale_Price")

In [26]:
df= pd.merge(df, zip_table, left_on='Zipcode', how='left', right_index=True)

In [27]:
df.head(
    
)

,ID,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),...,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft),Year Since Renovation,Condition_of_the_House_Excellent,Condition_of_the_House_Fair,Condition_of_the_House_Good,Condition_of_the_House_Okay,Ever_Renovate_Yes,Waterfront_View_Yes,zipcode_group
0,7129300520,221900.0,3,1.00,1180.0,5650.0,1.0,0,7,1180.0,...,1340.0,5650,0,0,1,0,0,0,0,zipcode_group_0
1,6414100192,538000.0,3,2.25,2570.0,7242.0,2.0,0,7,2170.0,...,1690.0,7639,26,0,1,0,0,1,0,zipcode_group_2
2,5631500400,180000.0,2,1.00,770.0,10000.0,1.0,0,6,770.0,...,2720.0,8062,0,0,1,0,0,0,0,zipcode_group_2
3,2487200875,604000.0,4,3.00,1960.0,5000.0,1.0,0,7,1050.0,...,1360.0,5000,0,1,0,0,0,0,0,zipcode_group_3
4,1954400510,510000.0,3,2.00,1680.0,8080.0,1.0,0,8,1680.0,...,1800.0,7503,0,0,1,0,0,0,0,zipcode_group_4

In [28]:
df = df.drop(columns="Zipcode")

In [29]:
df = pd.get_dummies(df, columns=['zipcode_group'], drop_first= True)